<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/project.css">
	<title>
		<h1>About us</h1>
	</title>
<div class="header" id="myHeader">
  <h2>Easy Bagrut</h2>
</div>
</head>
<body>
<div class="topnav" id="myTopnav">
  <a href="#submit_summary">Submit summary</a>
  <a class="active" href="#home">Home page</a>
  <a href="#about_us">About us</a>
</div>

<!-- Side navigation -->
<div class="sidenav">
  <a href="#">English</a>
  <a href="#">History</a>
  <a href="#">Mathematics</a>
  <a href="#">Biology</a>
  <a href="#">Chemistry</a>
  <a href="#">literature</a>
  <a href="#">Hebrew</a>
<!--   <a href="#">Bible</a> -->
  <a href="#">Citizenship</a>
  <a href="#">Physics</a>
  <a href="#">Mechatronics</a>
  <a href="#">Phsychology</a>
  <a href="#">Sociology</a>
  <a href="#">Communication</a>
<!--   <a href="#">Agriculture</a>
  <a href="#">Diplomacy</a> -->
</div>

<!-- Page content -->
<div id="subjects">
  ...
</div>

<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Search">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
<p>
	My name is Shira Zuker and I created this website because of the big problem lots of students including myself have been facing. This problem is trying to study all the material for the bagruiot exams and spending lots of time trying to summarize it, it's nearly immpossible! I'm trying to fix this problem by creating a website where students and teachers can upload summariez for any bagrut and also study from the summaries that have already been uploaded. This will hopefully make the students lif much easier.
</p>
</body>
</html>