<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/project.css">
	<title></title>
<div class="header" id="myHeader">
  <h2>Easy Bagrut</h2>
</div>
</head>
<body>

<div class="topnav" id="myTopnav">
  <a href="{{url_for('submit')}}">Submit summary</a>
  <a class="active" href="{{url_for('index')}}">Home page</a>
  <a href="{{url_for('about')}}">About us</a>
</div>

<!-- Side navigation -->
<div class="sidenav">
  <a href="#">English</a>
  <a href="#">History</a>
  <a href="#">Mathematics</a>
  <a href="#">Biology</a>
  <a href="#">Chemistry</a>
  <a href="#">literature</a>
  <a href="#">Hebrew</a>
<!--   <a href="#">Bible</a> -->
  <a href="#">Citizenship</a>
  <a href="#">Physics</a>
  <a href="#">Mechatronics</a>
  <a href="#">Phsychology</a>
  <a href="#">Sociology</a>
  <a href="#">Communication</a>
<!--   <a href="#">Agriculture</a>
  <a href="#">Diplomacy</a> -->
</div>

<!-- Page content -->
<div id="subjects">
  ...
</div>

<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Search">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>


</body>
</html>